/* footer */

.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--blanco);
    padding-top: 0.5rem;
    font-size: 2rem;
    padding-bottom: 0.1rem;
}

.footer p {
    margin-top: 3rem;
}