.preguntas-frecuentes {
    background-color: black;
}

.preguntas-frecuentes h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--blanco);
    font-family: var(--titulos);
    padding-bottom: 5rem;
}

@media(min-width: 768px) {
    .preguntas-frecuentes h2 {
        font-size: 5rem;
    }
}

.item {
    border-radius: 1rem;
    color: var(--blanco);
    font-size: 2rem;
    font-family: var(--parrafos);
    margin-bottom: 1rem;
    overflow: hidden;
}

.pregunta {
    background-color: var(--primario);
    padding: 1rem;
    cursor: pointer;
}

#dos {
    background-color: var(--secundario);
}

#tres {
    margin-bottom: 0;
    padding-bottom: 6rem;
}

.respuesta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; 
  }
  
.respuesta-oculta {
max-height: 0;
}
  
.respuesta-visible {
max-height: 1000px; 
}





